<div class="d-flex flex-column flex-shrink-0 sidebar p-3 bg-light">
    <!--<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>-->
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a routerLink="/admin" class="nav-link active" aria-current="page">
         
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="empmanage" class="nav-link link-dark">
        
          Employees
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          
          Reports
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          
          other 1
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
       
          other 2
        </a>
      </li>
    </ul>
    <hr>
    
  </div>

