<div class="container-fluid row justify-content-center mt-5">

    <div class="col-md-4">
        <div class="mb-3 text-center">
           <img src="./../../assets/welcome.png" alt="" height="80" width="350">
        </div>
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center"><h4>Hey there, Welcome</h4></div>
            <div class="card-body">
                <form [formGroup]="loginForm">
                    <div class="mb-3">
                      <label for="username" class="form-label">Username</label>
                      <input type="email" name="username" class="form-control" formControlName="usernaame" id="username" aria-describedby="usernameHelp" required>
                      <div id="usernameHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="userPassword" class="form-label">Password</label>
                      <input type="password" name="password" formControlName="password" class="form-control" id="userPassword" required>
                    </div>
                    <div class="mb-3">
                      <a href="" >Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="checkLogin();" [disabled]="!loginForm.valid">Submit</button>
                  </form>
            </div>
          </div>
    </div>
</div>