<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src=" ./../../../../assets/logo.png" alt="" width="45" height="45" class="d-inline-block align-text-top">
            Employee Management System
          </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ms-3" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User Name
            </a>
            <ul class="dropdown-menu ms-3" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">My Profile</a></li>
              <li><a class="dropdown-item" href="#">log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  
